.app {
    height: 100vh;
    height: 100dvh;
}

.main-grid {
    &.featured-photos-page {
        --theme-color: var(--dark-color-2);
        --theme-color-secondary: var(--dark-color-1);
        --theme-color-difference: var(--light-color-2);

        --frame-width: 1.5%;
        --row-height: 5rem;
        --row-gap: 1.25rem;
        --image-gap: max(70vh, 50rem);

        grid-template-rows: 25vh repeat(2, var(--row-height));

        height: 100%;

        overflow-y: scroll;
        scroll-snap-type: y mandatory;

        &.fullscreen-active {
            scroll-snap-type: none;
        }

        .site-heading__horizontal-bar-top {
            scroll-snap-align: center;
            scroll-margin-top: var(--margin-top-main);
        }

        .divider-box {
            grid-column: 2 / -2;
            grid-row: 4 / 5;

            height: var(--row-height);
        }

        .featured-photos-page__scroll-indicator {
            all: unset;

            opacity: 0;
            transition: opacity 0.2s ease-in-out;

            grid-column: 6 / 10;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* this makes scroll indicator the size of the remaining viewport height 
               height: calc(100vh - size-of-horizontal-texts - size-of-gaps - size-of-navbar); */
            height: calc(100vh - (var(--row-height) * 2) - (var(--row-gap) * 3) - 25vh);
            margin: auto;

            cursor: pointer;
            white-space: nowrap;

            #arrow1, #arrow2, #arrow3 {
                stroke: var(--dark-color-3);
                opacity: 0;
            }
            #arrow1 {
                animation: blinking 3s ease 0s infinite;
            }
            #arrow2 {
                animation: blinking 3s ease 1s infinite;
            }   
            #arrow3 {
                animation: blinking 3s ease 2s infinite;
            }

            &:focus-visible {
                outline: solid;
            }
        }
        .featured-photos-page__scroll-indicator--show {
            opacity: 1;
        }
        
        .scroll-to-top-button {
            grid-column: 7 / -7;
            margin: auto;
            margin-bottom: 2rem;
        }

    }

    @media only screen and (max-width: 800px) {
        &.featured-photos-page {
            --row-height: inherit;
        }
    }

    @keyframes blinking {
        0% {
            opacity: 0;
        }
        25% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
}
