:root:has(.print-shop) {
    --theme-color: var(--dark-color-3);
    --theme-color-secondary: var(--dark-color-2);
    --theme-color-difference: var(--light-color-2);
}

.print-shop {
    padding-top: 10rem;

    &__section {
        margin-top: 5rem;
    }
}
