.main-grid {
    --row-gap: 1.25rem;

    &.selected-photos-page {
        align-items: center;
        grid-template-rows: auto;
        height: 100vh;

        img {
            width: 100px;
        }

        .horizontal-bar {
            &-top {
                grid-column: 3 / 7;
                grid-row: 2 / 3;

                height: var(--row-height);

                background-color: var(--light-color-1);

                &__text {
                    grid-column: 3 / 7;
                    grid-row: 2 / 3;

                    position: relative;
                    bottom: calc(var(--row-height) / 1.95);
                    height: var(--row-height);
                }
            }
            &-bottom {
                grid-column: 1 / 6;
                grid-row: 3 / 4;

                height: var(--row-height);

                background-color: var(--light-color-2);

                &__text {
                    grid-column: 2 / 6;
                    grid-row: 3 / 4;

                    position: relative;
                    bottom: calc(var(--row-height) / 1.95);
                    height: var(--row-height);

                    color: white;
                }
            }
        }

        .divider-box {
            grid-column: 1 / 7;
            grid-row: 4 / 5;

            height: var(--row-height);
        }

        .photo-element {
            transition: all ease-out 0.1s;
            &--1 {
                grid-column-start: 2;
                grid-column-end: 6;
                margin: 0 -5rem;
                &1 {
                    grid-column-start: 3;
                    grid-column-end: 5;
                    margin: 0 -5rem;
                }
            }
            &--2 {
                grid-column-start: 2;
                grid-column-end: 4;
                margin-left: -5rem;
            }
            &--3 {
                grid-column-start: 4;
                grid-column-end: 6;
                margin-right: -5rem;
            }

            &__image {
                width: 100%;
            }

            &:hover {
                box-shadow: -8px -8px 24px 0 #fff,
                    8px 8px 24px 0 rgb(174 174 192 / 70%);
                scale: 1.01;
            }
        }

        .text-divider-wrapper {
            --divider-color: var(--light-color-2);

            grid-column: span 6;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin: 4rem -2rem;
            overflow-x: hidden;

            .text-divider__background {
                &--left,
                &--right {
                    display: flex;
                    align-items: center;

                    flex: 3;
                    height: calc(var(--row-height) / 2.5);
                    margin-top: calc(var(--row-height) / 8);
                    margin-bottom: calc(var(--row-height) / 8);

                    background-color: var(--divider-color);
                }
                &--left {
                    justify-content: flex-end;
                }
                &--right {
                    justify-content: flex-start;
                }
            }

            .text-divider__text {
                display: flex;
                align-items: center;
                position: relative;
                margin: 0 1rem;

                color: white;
                white-space: nowrap;
                text-align: center;

                &--left {
                    left: calc(10vw + 2rem);
                    &::before {
                        background: white;
                        margin-right: 1rem;
                    }
                    &::after {
                        background: var(--divider-color);
                        margin-left: 1.5rem;
                    }
                }

                &--right {
                    right: calc(10vw + 2rem);
                    &::before {
                        background: var(--divider-color);
                        margin-right: 1.5rem;
                    }
                    &::after {
                        background: white;
                        margin-left: 1rem;
                    }
                }

                &::before {
                    content: '';
                    display: block;
                    width: 10vw;
                    height: 2px;
                }
                &::after {
                    content: '';
                    display: block;
                    width: 10vw;
                    height: 2px;
                }
            }
        }
    }

    &.add-photos {
        height: 100vh;
    }
}

@media only screen and (max-width: 800px) {
    .main-grid {
        &.selected-photos-page {
            .photo-element {
                transition: all ease-out 0.1s;
                &--1 {
                    grid-column-start: 1;
                    grid-column-end: 7;
                    margin: 0;
                    &1 {
                        grid-column-start: 1;
                        grid-column-end: 7;
                        margin: 0;
                    }
                }
                &--2 {
                    grid-column-start: 1;
                    grid-column-end: 4;
                    margin: 0;
                }
                &--3 {
                    grid-column-start: 4;
                    grid-column-end: 7;
                    margin: 0;
                }

                &__image {
                    width: 100%;
                }
            }

            .horizontal-bar {
                &-top {
                    grid-column: 1 / 7;
                    &__text {
                        grid-column: 1 / 7;
                    }
                }
                &-bottom {
                    grid-column: 1 / 7;
                    &__text {
                        grid-column: 1 / 7;
                    }
                }
            }
        }
    }
}
