.app {
    height: 100vh;
    height: 100dvh;
}

.main-grid {
    &.displayed-photos-page {
        --theme-color: var(--light-color-2);
        --theme-color-secondary: var(--light-color-1);
        --theme-color-difference: var(--dark-color-2);

        --row-height: 5rem;
        --row-gap: 1.25rem;

        position: relative;
        align-items: center;
        grid-template-rows: 25vh repeat(2, var(--row-height));
        height: 100%;
        margin-bottom: 4rem;

        overflow-y: scroll;

        .divider-box {
            grid-column: 2 / -2;
            grid-row: 4 / 5;

            height: var(--row-height);
        }

        .photo-element {
            transition: all ease-out 0.1s;
            width: 100%;
            z-index: 1;
            object-fit: contain;

            &--portrait {
                max-height: 90dvh;
                margin: auto;
            }

            &--full-width,
            &--default {
                grid-column: 4 / -4;
            }
            &--narrow-width {
                grid-column: 5 / -5;
            }
            &--half-left {
                grid-column: 4 / 8;
                width: 100%;
            }
            &--half-right {
                grid-column: 8 / -4;
                width: 100%;
            }

            &:last-child {
                margin-bottom: var(--row-height);
            }

            &:hover {
                scale: 1.01;
                cursor: pointer;
            }
        }

        .story-frame {
            margin-block: 10rem;
        }

        .scroll-to-top-button {
            grid-column: 6 / -6;
            margin: auto;
            margin-bottom: 2rem;
        }
    }

    &.add-photos {
        height: 100vh;
        height: 100dvh;
    }
}

@media only screen and (max-width: 800px) {
    .main-grid {
        &.displayed-photos-page {
            --row-height: inherit;

            .photo-element {
                transition: all ease-out 0.1s;
                &--full-width,
                &--default,
                &--narrow-width {
                    grid-column: 1 / -1;
                    margin: 0;
                    max-width: 100%;
                    max-height: none;
                }
                &--half-left {
                    grid-column: 1 / 8;
                    margin: 0;
                }
                &--half-right {
                    grid-column: 8 / -1;
                    margin: 0;
                }
            }

            .text-divider-wrapper {
                margin-top: 2rem;
                margin-bottom: 2rem;
            }
        }
    }
}
