body {
    font-family: "Roboto", sans-serif;
}

.bg-1 {
    background-color: #111111;
    color: #FFFFFF;
}

.bg-2 {
    background-color: #009BFF;
    color: #FFFFFF;
}

.bg-3 {
    background-color: #FF0000;
    color: #FFFFFF;
}

.bg-4 {
    background-color: #FFFFFF;
    color: #000000;
}

.bg-footer-light {
    padding-top: 10px;
    background-color: #303030;
    color: #FFFFFF;
}

.nav-wrapper {
    min-height: 78px;
    width: 100%;
}

.pad-top-bot-head {
    padding: 250px 20px 340px 10px;
}

#title-top {
    font-size: 3.61vw;
    padding-top: 15px;
}

.pad-top-bot {
    padding: 150px 0 150px 0;
}
@media (max-width: 1410px) {
    #title-top {
        font-size: 3.4vw;
        padding-top: 15px;
    }
}

.bungee-font {
    font-family: 'Bungee', cursive;
}

.header {
    overflow: hidden;
}


#title-bottom {
    font-size: 12vw;
}

@media (max-width: 767px) {
    #title-top {
        font-size: 36px;
        padding-top: 15px;
    }

    #title-bottom {
        font-size: 120px;
    }

    #logosvg {
        padding: 0px 30px 30px 30px;
    }

    .pad-top-bot-head {
        padding: 150px 0 220px 0;
    }

    body {
        overflow-x: hidden;
    }
}

#logosvg {
    max-height: 330px;
    padding: 5px 30px 30px 30px;
}

.roboto-font {
    font-family: 'Roboto', sans-serif;
}

.font-large {
    font-size: 80px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 18px;
    letter-spacing: 5px;
}

.navbar-toggle {
    border: none;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.fixed-bg {
    /* The background image */
    background-image: url("http://magnusrand.com/resources/images/para.jpg");
    /* Set a specified height, or the minimum height for the background image */
    min-height: 500px;
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
    /* Center the background image */
    background-position: center;
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
    /* Scale the background image to be as large as possible */
    background-size: cover;
}

#navbarID.affix {
      top:0;
      width: 100%;
      z-index: 9998 !important;
  }

#navbarID.affix-top {
      top:0;
      width: 100%;
      z-index: 9998 !important;
  }

#navbarID.affix ~ .container {
     position: relative;
     top: 50px;
  }

#down-arrow {
      height: 70px;
      width: 70px;
      top: 90%;
      right: 45%;
      position: fixed;
      z-index: 9999;

      opacity: 0.5;
  }
