nav { 
    animation: color-cycle-dark 20s linear infinite;
}

.photo-landing-page {
    --title-row: 2;

    height: 100dvh;
    width: 100dvw;
}

.photo-landing-page__background-image {
    position: absolute;
    height: 100dvh;
    width: 100dvw;
    object-fit: cover;
    filter: url('#blue-white');
    grid-column: 1 / -1;
}

.photo-landing-page__title__background {
    grid-column: 6 / -6;
    z-index: 3;
    margin-block: auto;
    grid-row-start: var(--title-row);
    width: 100%;
    height: 5rem;
    background: rgba(var(--dark-color-2-rgb), 0.8);
    text-align: center;
    mix-blend-mode: difference;
}

.photo-landing-page__title__text {
    filter: invert();
    grid-column: 6 / -6;
    z-index: 3;
    margin-block: auto;
    grid-row-start: var(--title-row);
    margin-inline: auto;
}

.photo-landing-page__link-button {
    background-color: var(--dark-color-1);
    z-index: 10;
    width: fit-content;

    transition: all 0.5s ease;
    animation: color-cycle-dark 20s linear infinite;
}

.photo-landing-page__link-button:nth-of-type(1) {
    grid-column: 5;
    grid-row-start: 3;
    align-self: start;
}

.photo-landing-page__link-button:nth-of-type(2) {
    grid-column: 6 / 8;
    grid-row-start: 3;
    align-self: end;
    justify-self: center;
}

.photo-landing-page__link-button:nth-of-type(3) {
    grid-column-end: 9;
    grid-row-start: 4;
    align-self: start;
    justify-self: end;
}


@media screen and (max-width: 800px) {
    .photo-landing-page {
        --padding-sides: 0;
    }

    .photo-landing-page__title__background,
    .photo-landing-page__title__text {
        grid-column: 4 / -4;
    }

    .photo-landing-page__link-button:nth-of-type(1) {
        grid-column: 4;
        grid-row-start: 3;
        align-self: start;
    }
    
    .photo-landing-page__link-button:nth-of-type(2) {
        grid-column: 11;
        grid-row-start: 3;
        align-self: center;
        justify-self: end;
    }
    
    .photo-landing-page__link-button:nth-of-type(3) {
        grid-column: 7;
        grid-row-start: 4;
        align-self: start;
    }
}

@keyframes color-cycle-dark {
    from {
        background-color: rgb(var(--dark-color-1-rgb));
        --theme-color: rgb(var(--dark-color-1-rgb));
    }
    33% {
        background-color: rgb(var(--dark-color-2-rgb));
        --theme-color: rgb(var(--dark-color-2-rgb));
    }
    66% {
        background-color: rgb(var(--dark-color-3-rgb));
        --theme-color: rgb(var(--dark-color-3-rgb));
    }
    to {
        background-color: rgb(var(--dark-color-1-rgb));
        --theme-color: rgb(var(--dark-color-1-rgb));
    }
}
