.photo-landing-page {
    --title-row: 2;

    height: 100dvh;
    width: 100dvw;
}

.photo-landing-page__background-image {
    position: absolute;
    height: 100dvh;
    width: 100dvw;
    object-fit: cover;
    filter: url('#blue-white');
    grid-column: 1 / -1;
}

.photo-landing-page__title__background {
    grid-column: 6 / -6;
    z-index: 3;
    margin-block: auto;
    grid-row-start: var(--title-row);
    width: 100%;
    height: 5rem;
    background: rgba(var(--dark-color-2-rgb), 0.8);
    text-align: center;
    mix-blend-mode: difference;
}

.photo-landing-page__title__text {
    filter: invert();
    grid-column: 6 / -6;
    z-index: 3;
    margin-block: auto;
    grid-row-start: var(--title-row);
    margin-inline: auto;
}
