.main-grid.albums-page {
    --theme-color: var(--light-color-2);
    --theme-color-secondary: var(--light-color-1);
    --theme-color-difference: var(--dark-color-2);

    --row-gap: 2rem;

    position: relative;
    height: 100%;
    margin-bottom: 4rem;

    overflow-y: scroll;

    .albums-page__list-wrapper {
        grid-column: 4 / -4;

        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: auto;
        row-gap: var(--row-gap);
    }

    .albums-page__list__collection {
        grid-column-start: span 8;
        height: 95%;

        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: auto;
        row-gap: var(--row-gap);

        border-left: solid 2px var(--theme-color);

        .albums-page__list__collection__title {
            height: 1.3rem;
            width: max-content;
            margin-top: -1rem;
            padding-inline: 1rem;
            margin-left: -2px;
            
            text-transform: lowercase;
            font-size: 2rem;
            transition: margin 0.3s ease;
            line-height: 1.3rem;
            color: var(--white);
            background-color: var(--theme-color);

            animation: pulse 20s infinite var(--animation-delay);
        }

        .albums-page__list__album-card {
            grid-column: 2 / -1;
            margin-inline: 0;

            display: grid;
            grid-template-columns: subgrid;
        }
        a:first-of-type.albums-page__list__album-card  {
            margin-top: 5rem;
        }

        .albums-page__list__album-card__image-container--collection,
        .albums-page__list__album-card__image-container {
            grid-column: 1 / -1;
            margin-inline: -6%;
        }
        .albums-page__list__album-card__title {
            grid-column: 1 / -2;
        }
    }

    .albums-page__list__album-card {
        grid-column-start: span 8;
        transition: all 0.3s ease;

        margin-inline: -6%;


        .albums-page__list__album-card__image-container,
        .albums-page__list__album-card__image-container--collection,
        img {
            will-change: transform;
            transition: all .3s;
            transform: scale(1.111);

            height: 12rem;
        }

        .albums-page__list__album-card__image-container {
            overflow: hidden;
            transform: scale(0.9);
        }

        .albums-page__list__album-card__image-container--collection {
            overflow: hidden;
            transform: scale(0.9);
            display: flex;

            > * {
                flex: 1;
                overflow: hidden;
            }
        }


        &:hover .albums-page__list__album-card__image-container,
        &:hover .albums-page__list__album-card__image-container img,
        &:hover .albums-page__list__album-card__image-container--collection,
        &:hover .albums-page__list__album-card__image-container--collection img:hover {
            transform: scale(1);
            flex: 2;
        }

        &:hover {
            filter: opacity(0.9);
        }

        animation: fade-in 2s ease;

        .albums-page__list__album-card__title {
            width: 100%;
            margin-top: 0rem;
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            font-variant: small-caps;
            font-size: 1.5rem;

            .albums-page__list__album-card__title__sub {
                font-size: 0.75rem;
                font-variant: normal;
            }
        }

        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

@media only screen and (max-width: 1080px) {
    .main-grid.albums-page {
        .albums-page__list-wrapper {
            grid-column: 3 / -3;
        }
        .albums-page__list__album-card {
            grid-column-start: span 10;
        }
    }
}

@media only screen and (max-width: 800px) {
    .main-grid.albums-page {
        .albums-page__list-wrapper {
            grid-column: 1 / -1;
        }
        .albums-page__list__album-card {
            grid-column-start: span 14;
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        padding-right: 1rem;
    }
    30% {
        padding-right: 3rem;
    }
    50% {
        padding-right: 2rem;
    }
    70% {
        padding-right: 3rem;
    }
    100% {
        padding-right: 1rem;
    }
}