.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: calc(var(--row-height) - var(--row-gap));
    margin-top: var(--margin-top-main);
    transition: opacity 1s ease-in-out;

    &:has(.main-navbar--collapsed) {
        mix-blend-mode: difference;
    }

    &:has(~ .main-grid .fullscreen-overlay--active) {
        opacity: 0;
        pointer-events: none;
    }
}

.main-navbar--collapsed {
    --navbar-color: var(--theme-color-difference);
    --line-width: 6vw;

    grid-column: 1 / -1;
    margin-inline: auto;
    display: flex;
    height: fit-content;

    transition: all 0.5s ease-in-out;
    animation: expand-lines 0.5s ease-in-out;

    color: var(--navbar-color);

    &:has(.main-navbar--collapsed__button:hover) {
        --line-width: 4vw;
    }

    &--opened {
        --line-width: 0vw;
    }

    .main-navbar--collapsed__button {
        all: unset;
        cursor: pointer;
        margin-inline: 2rem;

        &:hover {
            text-decoration: underline;
        }
        &:focus {
            outline: solid 2px var(--theme-color-difference);
        }
    }
    &::after,
    &::before {
        content: '';
        display: block;
        width: var(--line-width);
        height: 2px;
        background-color: var(--navbar-color);
        margin-block: auto;
        transition: all 0.5s ease-in-out;
    }
}

@keyframes expand-lines {
    from {
        --line-width: 0vw;
    }
    to {
        --line-width: 6vw;
    }
}

@keyframes expand-in {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1);
    }
}
