.navbar.mobile-navbar {
    position: fixed;
    bottom: 5%;
    right: 50%;
    top: unset;
    transform: translateX(50%);
    max-width: 20rem;
    margin-inline: auto;
    z-index: 4;
    width: 20rem;
    height: 4.5rem;

    background-color: var(--theme-color);
    color: var(--white);
    box-shadow: 7px 7px 0px 0px rgba(var(--dark-color-3-rgb), 0.2);
    backdrop-filter: blur(10px);

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    transition: all 0.3s ease-in-out, transform 0.3s ease-in-out,
        width 0.3s ease-in-out, height 0.5s ease-in-out, right 0.3s ease-in-out;

    &--animate-out {
        width: 3rem;
        height: 3rem;
        padding-inline: 0;
        right: 5%;
        transform: translateX(0%);
        box-shadow: 0px 0px 0px 0px transparent;

        .mobile-navitem {
            opacity: 0;
            animation: fade-out 0.1s ease-in-out;
        }
    }

    .mobile-navitem {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 28px;
        padding: 1rem;
        min-width: 2.5rem;

        fill: var(--white);

        span {
            font-size: 14px;
            font-variant: small-caps;
            text-transform: lowercase;
        }

        &:first-child {
            padding-left: 2rem;
        }
        &:last-child {
            padding-right: 2rem;
        }
    }

    .mobile-navbar--collapsed__button {
        all: unset;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:has(~ .fullscreen-overlay--active) {
        opacity: 0;
    }
}
