.site-heading__horizontal-bar {
    &-top {
        grid-column: 3 / 6;
        grid-row: 2 / 3;

        height: var(--row-height);

        background-color: var(--theme-color-secondary);

        transition: 0.5s ease-in-out;
        animation: expand-line-right-to-left 1s ease-out;


        &__text {
            margin: 0; /* remove margin from h1 tag */

            grid-column: 3 / 7;
            grid-row: 2 / 3;

            position: relative;
            z-index: 1;
            bottom: calc(var(--row-height) / 1.95);
            height: var(--row-height);

            font-size: calc(var(--row-height) * 1.5);
        }
    }
    &-bottom {
        grid-column: 2 / 6;
        grid-row: 3 / 4;

        height: var(--row-height);

        background-color: var(--theme-color);
        
        transition: 0.5s ease-in-out;
        animation: expand-line-left-to-right 1s ease-out;

        &__text {
            margin: 0; /* remove margin from h2 tag */
            
            grid-column: 2 / 6;
            grid-row: 3 / 4;

            position: relative;
            bottom: calc(var(--row-height) / 1.95);
            height: var(--row-height);

            color: var(--white);
            font-size: calc(var(--row-height) * 1.5);
        }
    }
}

@media only screen and (max-width: 1080px) {
    .site-heading__horizontal-bar {
        &-top {
            grid-column: 2 / 6;
            &__text {
                grid-column: 2 / 6;
                justify-self: flex-end;
            }
        }
        /* &-bottom {
            grid-column: 1 / 7;
            &__text {
                grid-column: 1 / 7;
            }
        } */
    }
}

@media only screen and (max-width: 800px) {
    .site-heading__horizontal-bar {
        &-top {
            grid-column: 1 / 7;
            &__text {
                grid-column: 1 / 7;
            }
        }
        &-bottom {
            grid-column: 1 / 7;
            &__text {
                grid-column: 1 / 7;
            }
        }
    }
}

@keyframes expand-line-left-to-right {
    0% {
        margin-right: 100%;
    }
    50% {
        margin-right: 100%;
    }
    100% {
        margin-right: 0%;
    }   
}

@keyframes expand-line-right-to-left {
    0% {
        margin-left: 100%;
    }
    25% {
        margin-left: 100%;
    }
    75% {
        margin-left: 0%;
    }   
}