.horizontal-bar {
    &-top {
        grid-column: 3 / 7;
        grid-row: 2 / 3;

        height: var(--row-height);

        background-color: var(--light-color-1);

        &__text {
            grid-column: 3 / 7;
            grid-row: 2 / 3;

            position: relative;
            bottom: calc(var(--row-height) / 1.95);
            height: var(--row-height);
        }
    }
    &-bottom {
        grid-column: 1 / 6;
        grid-row: 3 / 4;

        height: var(--row-height);

        background-color: var(--light-color-2);

        &__text {
            grid-column: 2 / 6;
            grid-row: 3 / 4;

            position: relative;
            bottom: calc(var(--row-height) / 1.95);
            height: var(--row-height);

            color: white;
        }
    }
}

@media only screen and (max-width: 800px) {
    .horizontal-bar {
        &-top {
            grid-column: 1 / 7;
            &__text {
                grid-column: 1 / 7;
            }
        }
        &-bottom {
            grid-column: 1 / 7;
            &__text {
                grid-column: 1 / 7;
            }
        }
    }
}