@import '../../main-styles.css';

.landing-page.main-grid {
    height: 100vh;
    height: 100dvh;
    overflow: hidden;

    .horizontal-bar1 {
        grid-column: 1 / 7;
        grid-row: 3 / 4;

        background-color: var(--light-color-1);

        animation: right-left 10s ease-in-out infinite;
    }

    .horizontal-bar2 {
        grid-column: 3 / -1;
        grid-row: 4 / 5;

        background-color: var(--light-color-2);
    }

    .horizontal-bar3 {
        grid-column: 5 / -1;
        grid-row: 5 / 6;

        background-color: var(--light-color-3);

        animation: left-right 5s ease-in-out infinite;
    }

    .logo-horizontal {
        transition: font-size ease 0.5s;
        width: 31.25rem;

        cursor: pointer;

        &.position-primary {
            grid-column: 9 / 11;
            grid-row: 4 / 5;
            z-index: 3;
        }
        &.position-secondary {
            grid-column: 5 / 9;
            grid-row: 4 / 5;
            z-index: 3;

            margin-left: -9.5rem;
        }

        margin-top: -3.6rem;
        margin-left: -24.8rem;
    }

    .logo-vertical {
        transition: font-size ease 0.5s;

        cursor: pointer;

        &.position-primary {
            grid-column: 9 / 11;
            grid-row: 2 / 6;
            z-index: 3;

            .logo-overlapping-letter-A {
                opacity: 1;
            }

            .logo-overlapping-letter-N {
                opacity: 0;
            }
        }

        &.position-secondary {
            grid-column: 5 / 7;
            grid-row: 3 / 7;
            z-index: 3;

            .logo-overlapping-letter-A {
                opacity: 0;
            }

            .logo-overlapping-letter-N {
                opacity: 1;
            }
        }

        [class^='logo-overlapping-letter-'] {
            transition: all ease-out 0.25s;
        }

        margin-top: -1.4rem;
        letter-spacing: 17vw;
        word-wrap: break-word;
        line-height: 9.45rem;
    }

    .background-letter {
        grid-column: 3 / 5;
        grid-row: 1 / 2;
        z-index: -1;

        font-size: 150rem;
        margin-top: -72rem;
        margin-left: -20.5rem;
        color: var(--light-color-1);
        opacity: 0.4125;

        animation: color-cycle 20s linear infinite;
    }
}

@media only screen and (max-width: 1080px) {
    .landing-page.main-grid {
        padding-left: 2rem;
        padding-right: 2rem;
        height: 100vh;
        height: 100dvh;
        min-height: calc(var(--row-height) * 8);

        .logo-vertical {
            margin-top: -1.4rem;
            letter-spacing: 17vw;
            word-wrap: break-word;
            line-height: calc(var(--row-height) + 2.45rem);
        }

        .logo-horizontal {
            &.position-secondary {
                margin-left: -6.7rem;
            }
            margin-top: -2.55rem;
            margin-left: -17.6rem;
        }

        .background-letter {
            grid-column: 1 / 3;
            grid-row: 1 / 2;

            margin-top: -72rem;
            margin-left: -21.5rem;
        }

        .horizontal-bar1 {
            margin-left: -2rem;
        }

        .horizontal-bar2 {
            margin-right: -2rem;
        }

        .horizontal-bar3 {
            margin-right: -2rem;
        }
    }
}

@media only screen and (max-width: 800px) {
    .landing-page.main-grid {
        position: relative;
        padding-left: 2rem;
        padding-right: 2rem;
        height: 100vh;
        height: 100dvh;
        min-height: calc(var(--row-height) * 8);

        .logo-vertical {
            margin-top: calc(0);
            letter-spacing: 17vw;
            word-wrap: break-word;

            &.position-primary {
                grid-column: 7 / 11;
                grid-row: 3 / 7;

                margin-left: calc(16.67vw * 0.15);
            }

            &.position-secondary {
                grid-column: 3 / 7;
                grid-row: 4 / 8;

                margin-left: calc(16.67vw * 0.2);
            }

            .logo-vertical-type-container {
                height: calc(var(--row-height) * 4 + var(--row-gap) * 3);

                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: space-between;

                div {
                    max-height: var(--row-height);
                    align-self: flex-start;
                }
            }
        }

        .logo-horizontal {
            &.position-primary,
            &.position-secondary {
                grid-column: 1 / -1;
                grid-row: 5 / 6;

                margin-top: calc((100vw - 4rem) * -0.08);
                margin-left: 0rem;
            }
        }

        .background-letter {
            grid-column: 1 / 3;
            grid-row: 5 / 6;

            margin-top: calc((var(--row-height) + var(--row-gap)) * -11.5);
            margin-left: calc(100vw * -0.7);

            font-size: calc(100vw * 3.8);
        }

        .horizontal-bar1 {
            margin-left: -2rem;
            grid-column: 1 / 9;
            grid-row: 4 / 5;

            animation: right-left 10s ease-in-out infinite;
        }

        .horizontal-bar2 {
            margin: 0 -2rem;
            grid-column: 1 / -1;
            grid-row: 5 / 6;
        }

        .horizontal-bar3 {
            margin-right: -2rem;
            grid-column: 5 / -1;
            grid-row: 6 / 7;
        }
    }
}

@keyframes left-right {
    from {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(5%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes right-left {
    from {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-5%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes color-cycle {
    from {
        color: var(--light-color-1);
    }
    33% {
        color: var(--dark-color-1);
    }
    66% {
        color: var(--light-color-2);
    }
    to {
        color: var(--light-color-1);
    }
}
