.site-heading__horizontal-bar {
    &-top {
        grid-column: 6 / 12;
        grid-row: 2 / 3;

        height: var(--row-height);

        background-color: var(--theme-color-secondary);

        transition: 0.5s ease-in-out;
        animation: expand-line-left-to-right 1.7s ease-out;


        &__text {
            margin: 0; /* remove margin from h1 tag */

            position: relative;
            z-index: 1;
            bottom: calc(var(--row-height) / 1.95);

            font-size: calc(var(--row-height) * 1.5);
        }
    }
    &-bottom {
        grid-column: 4 / 12;
        grid-row: 3 / 4;

        height: var(--row-height);

        background-color: var(--theme-color);
        
        transition: 0.5s ease-in-out;
        animation: expand-line-left-to-right 2s ease-out;

        &__text {
            margin: 0; /* remove margin from h2 tag */

            position: relative;
            bottom: calc(var(--row-height) / 1.83);
            
            color: var(--white);
            font-size: calc(var(--row-height)* 1.54);
            white-space: nowrap;
        }
    }
}

@media only screen and (max-width: 1080px) {
    .site-heading__horizontal-bar {
        &-top {
            grid-column: 3 / 11;
            &__text {
                grid-column: 3 / 11;
                justify-self: flex-end;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .site-heading__horizontal-bar {
        &-top {
            grid-column: 1 / -1;
            &__text {
                grid-column: 1 / -1;
            }
        }
        &-bottom {
            grid-column: 1 / -1;
            &__text {
                grid-column: 1 / -1;
            }
        }
    }
}

@keyframes expand-line-left-to-right {
    0% {
        margin-right: 100%;
    }
    50% {
        margin-right: 100%;
    }
    100% {
        margin-right: 0%;
    }   
}

@keyframes expand-line-right-to-left {
    0% {
        margin-left: 100%;
    }
    25% {
        margin-left: 100%;
    }
    75% {
        margin-left: 0%;
    }   
}