:root {
    --light-color-1: rgba(234, 226, 183, 0.8);
    --light-color-2: rgba(252, 191, 73, 0.8);
    --light-color-3: rgba(251, 133, 0, 0.8);
    --dark-color-1: #219ebc;
    --dark-color-2: #116783;
    --dark-color-3: #003049;

    --nav-item-color: var(--dark-color-1);
}

body {
    margin: 0;
}

.app {
    position: relative;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.type-garamond-regular {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
}

.type-garamond-bold {
    font-family: 'EB Garamond', serif;
    font-family: 800;
}

.type-sourcesans-regular {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.font-size-small {
    font-size: 1.33rem;
}

.font-size-medium {
    font-size: 2rem;
}

.visual-background-grid {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;

    .column-container {
        position: absolute;
        height: 100%;
        width: inherit;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: stretch;
        gap: 1.25rem;

        .column {
            background-color: rgba(255, 0, 0, 0.05);
            width: 100%;
        }
    }

    .row-container {
        position: absolute;
        width: 100%;
        overflow: hidden;
        margin-top: 4.125rem;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        gap: 2.5rem;

        .row {
            height: 8rem;
            background-color: rgba(255, 0, 0, 5%);
        }
    }
}

.main-grid {
    position: relative;
    padding-top: 4.125rem;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 8rem);
    column-gap: 1.25rem;
    row-gap: 2.5rem;

    .main-content {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: -1;

        overflow: hidden;
        border: 1rem;
    }

    .horizontal-bar1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;

        background-color: var(--light-color-1);
    }

    .horizontal-bar2 {
        grid-column-start: 2;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 5;

        background-color: var(--light-color-2);
    }

    .horizontal-bar3 {
        grid-column-start: 3;
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: 6;

        background-color: var(--light-color-3);
    }
}

@media only screen and (max-width: 1000px) {
    body {
        margin: 0 2rem 2rem 2rem;
    }

    .horizontal-bar1 {
        margin-left: -2rem;
    }

    .horizontal-bar2 {
        margin-right: -2rem;
    }

    .horizontal-bar3 {
        margin-right: -2rem;
    }
}
