@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/eb-garamond-v19-latin-ext_latin-regular.woff2');
    src: url('./assets/fonts/eb-garamond-v19-latin-ext_latin-regular.woff');
}

@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 800;
    src: url('./assets/fonts/eb-garamond-v19-latin-ext_latin-800.woff2');
    src: url('./assets/fonts/eb-garamond-v19-latin-ext_latin-800.woff');
}

:root {
    --light-color-1: rgba(234, 226, 183, 0.8);
    --light-color-2: rgba(252, 191, 73, 0.8);
    --light-color-3: rgba(251, 133, 0, 0.8);
    --dark-color-1: #219ebc;
    --dark-color-2: #116783;
    --dark-color-3: #003049;

    --white: #fffff2;
    --black: #161515;

    --font-size-small: 1.33rem;
    --font-size-medium: 2rem;
    --font-size-extralarge: 10.5rem;

    --nav-item-color: var(--dark-color-1);

    --margin-top-main: 2rem;
    --padding-sides: 0;

    --row-height: 7rem;
    --row-gap: 2.5rem;
    --column-gap: 1.25rem;

    --theme-color: var(--light-color-2);
    --theme-color-secondary: var(--light-color-1);
    --theme-color-difference: var(--light-dark-2);
}

body {
    margin: 0;

    /*  setting default font */
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;

    background-color: var(--white);
    color: var(--black);
}

.app {
    position: relative;
}

a {
    color: inherit;
    text-decoration: inherit; /* no underline */
}

.type-garamond-regular {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-style: normal;
}

.type-garamond-bold {
    font-family: 'EB Garamond', serif;
    font-weight: 800;
    font-style: normal;
}

.type-sourcesans-regular {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.type-sourcesans-italic {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.font-size-small {
    font-size: var(--font-size-small);
}

.font-size-medium {
    font-size: var(--font-size-medium);
}

.font-size-extralarge {
    font-size: var(--font-size-extralarge);
}

.visual-background-grid {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;

    .column-container {
        position: absolute;
        height: 100%;
        width: inherit;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: stretch;
        gap: var(--column-gap);

        .column {
            background-color: rgba(255, 0, 0, 0.05);
            width: 100%;
        }
    }

    .row-container {
        position: absolute;
        width: 100%;
        overflow: hidden;
        margin-top: var(--margin-top-main);

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        gap: var(--row-gap);

        .row {
            height: var(--row-height);
            background-color: rgba(255, 0, 0, 5%);
        }
    }
}

.main-grid {
    position: relative;
    padding-top: var(--margin-top-main);
    padding-left: var(--padding-sides);
    padding-right: var(--padding-sides);

    display: grid;
    /* TODO change to 12 columns */
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: repeat(auto-fill, var(--row-height));
    /* grid-template-rows: 25vh repeat(2, var(--row-height)); */
    /* grid-auto-rows: auto; */
    column-gap: var(--column-gap);
    row-gap: var(--row-gap);

    /* background-color: #fffff2; */
}

@media only screen and (max-width: 1080px) {
    :root {
        --row-height: 5rem;
        --font-size-extralarge: 7.5rem;
        --padding-sides: 2rem;
    }

    .visual-background-grid {
        padding-left: 2rem;
        padding-right: 2rem;
        width: calc(100% - 4rem);

        .row-container {
            width: calc(100% - 4rem);
        }
    }

    .main-grid {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media only screen and (max-width: 800px) {
    :root {
        --row-height: calc((100vw - 4rem) * 0.155);
        --row-gap: 1.875rem;
        --font-size-medium: calc(var(--row-height) * 0.4);
        --font-size-extralarge: calc(var(--row-height) * 1.49);
        --font-size-small: calc(var(--font-size-medium) * 0.665);
    }

    .visual-background-grid {
        padding-left: 2rem;
        padding-right: 2rem;
        width: calc(100% - 4rem);

        .row-container {
            width: calc(100% - 4rem);
        }
    }
}
